body{
	background-image: url(https://github.com/SGalvez16/Q2SW2-Galvez-Selena/blob/184b731643e026c3882b83f78cd26551125227c1/robot.jpeg?raw=true);

}


h2{
	text-align: center;
}
.custom-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: black;
	opacity: 0.7;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 13px 12px 5px -3px rgba(173,182,222,0.75);
	-webkit-box-shadow: 13px 12px 5px -3px rgba(173,182,222,0.75);
	-moz-box-shadow: 13px 12px 5px -3px rgba(173,182,222,0.75);

}
* {
    color: white;
}
footer{
	text-align: center;
}
